*.pyc
.linear-token
.notion-token
.shopify-creds
.shopify-token
.slack-tokens
__pycache__/
analemma/update-shopify.sh
build-calendar.sh
notion_upload.py
populate_catalog.py
populate_catalog.sh
shopify-fix.sh
shopify_rebuild.py
upload-to-notion.js
